body {
  margin: 0;
  background-color: #c9e2f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("bg.png");
  background-size: cover;
  background-position: center;
}
#t1 {
  position: absolute;
  top: 10px;
  left: 300px;
  width: 600px;
  z-index: 10; 
  animation: slide-from-left 2s ease-out both;
}
#t2 {
  position: absolute;
  top: 520px;
  left: 900px;
  width: 470px;
  z-index: 8; 
  animation: slide-from-right 2s ease-out 0.5s both;
}
#floor {
  position: absolute;
  top: 850px;
  left: -50px;
  width: 2000px;
  opacity: 0;
  z-index: 26; 
  animation: fade-in-floor 5s ease-in-out 3s forwards; 
}
#poster {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

}
#main-flower {
  position: absolute;
  top: 300px;
  left: 580px;
  width: 550px;
  z-index: 25;
  /* z-index를 높여 꽃잎이 생성되는 부분을 꽃 뒤로 가려지게 하는 방법도 있습니다.  */
  cursor: pointer;
}

.petal {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 500px;
  left: 900px;
  z-index: 20;
}
@keyframes fade-in-floor {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
@keyframes pop-in {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
  }
}
@keyframes slide-from-left {
  from {
    transform: translateX(-1500px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-from-right {
  from {
    transform: translateX(1500px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(8deg);
  }
  99% {
    transform: translateY(0px) translateX(5px) rotate(-5deg);
  }
  100% {
    opacity: 0;
  }
}

@keyframes scatter1 {
  from {
    top: 500px;
    left: 900px;
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    top: 100px;
    left: 350px;
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scatter2 {
  from {
    top: 500px;
    left: 900px;
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    top: 50px;
    left: 630px;
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scatter3 {
  from {
    top: 500px;
    left: 900px;
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    top: 500px;
    left: 150px;
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scatter4 {
  from {
    top: 500px;
    left: 900px;
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    top: 600px;
    left: 500px;
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scatter5 {
  from {
    top: 500px;
    left: 900px;
    opacity: 0;
    transform: scale(0.5);  
  }
  to {
    top: 750px;
    left: 180px;
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scatter6 {
  from {
    top: 500px;
    left: 900px;
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    top: 350px;
    left: 430px;
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scatter7 {
  from {
    top: 500px;
    left: 900px;
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    top: 650px;
    left: 1110px;
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scatter8 {
  from {
    top: 500px;
    left: 900px; 
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    top: 280px;
    left: 1500px;
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scatter9 { 
  from {
    top: 500px;
    left: 900px;
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    top: 170px;
    left: 930px;
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scatter10 {
  from {
    top: 500px;
    left: 900px;
    opacity: 0;
    transform: scale(0.5);
  } 
  to {
    top: 430px;
    left: 1170px;
    opacity: 1;
    transform: scale(1);
  }
}

.scatter1 {
  animation: scatter1 1.5s ease-out forwards, float 8s ease-in-out 1.5s forwards;
  /* 애니메이션이 2개인데, scatter와 float 둘다 따로 animation-fill-mode를 따로 적용해야함 */
  /* 개인적으로는 랜덤값보다 노가다를 하는게 더 퀄리티가 좋아질 것 같습니다. */
}
.scatter2 {
  animation: scatter2 1.8s ease-out forwards, float 7s ease-in-out 1.8s forwards;
}
/* 여기까지 Fowards 적용 */
.scatter3 {
  animation: scatter3 1.6s ease-out forwards, float 9s ease-in-out 1.6s forwards;
}
.scatter4 {
  animation: scatter4 2s ease-out forwards, float 8s ease-in-out 2s forwards;
}
.scatter5 {
  animation: scatter5 1.7s ease-out forwards, float 7s ease-in-out 1.7s forwards;
}
.scatter6 {
  animation: scatter6 1.7s ease-out forwards, float 7s ease-in-out 1.6s forwards;
}
.scatter7 {
  animation: scatter7 1.7s ease-out forwards, float 10s ease-in-out 1.8s forwards;
}
.scatter8 {
  animation: scatter8 1.7s ease-out forwards, float 7.2s ease-in-out 1.7s forwards;
}
.scatter9 {
  animation: scatter9 1.7s ease-out forwards, float 9s ease-in-out 1.9s forwards;
}
.scatter10 {
  animation: scatter10 1.7s ease-out forwards, float 7s ease-in-out 1.7s forwards;
}

#extra-flower {
  position: absolute;
  top: 80px;
  left: 1100px;
  width: 380px;
  z-index: 15;
  opacity: 0;
  animation: 
    pop-in 0.5s ease-out 2.5s forwards,
    spin-flower 30s linear 3.0s infinite;
  
}
#extra-flower2 {
  position: absolute;
  top: 600px;
  left: 300px;
  width: 250px;
  z-index: 15;
  opacity: 0;
  animation: 
    pop-in 0.5s ease-out 2.8s forwards,
    spin-flower 10s linear 3.3s infinite;
}
#extra-flower3 {
  position: absolute;
  top: 70px;
  left: 70px;
  width: 230px;
  z-index: 15;
  opacity: 0;
  animation: 
    pop-in 0.5s ease-out 2.8s forwards,
    spin-flower 25s linear 3.7s infinite;
}
#extra-flower4 {
  position: absolute;
  top: 570px;
  left: 1400px;
  width: 270px;
  z-index: 15;
  opacity: 0;
  animation: 
    pop-in 0.5s ease-out 2.8s forwards,
    spin-flower 8s linear 4.0s infinite;
}
@keyframes spin-flower {
  from {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
  to {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}
